<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="secret.config">
    <add key="unitTest:smtpHost" value=""/>
    <add key="unitTest:smtpAuthUser" value=""/>
    <add key="unitTest:smtpAuthPass" value=""/>
    <add key="unitTest:emailAddressSender" value=""/>
    <add key="unitTest:commaSeparatedEmailAddressRecipientsTo" value=""/>
  </appSettings> 
</configuration>